.body {
  width: 100vw;
  height: 100vh;
  overflow: none;
}

.characterParts {
  top: 10%;
  left: 65%;
  position: absolute;
  height: 100%;
  width: 20%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  z-index: 5;
}

.teacher {
  position: absolute;
  height: 80%;
  top: 15%;
  left: 5%;
}

img {
  height: 100%;
}

.dialogue {
  position: absolute;
  top: 8%;
  left: 25%;
  width: 25%;
  height: auto;
  padding: 3%;
  border-radius: 50%;
  background-color: rgb(255, 255, 255, 0.8);
  }

.dialogue.hide {
  display: none;
}

.dialogue > p {
  font-size: 2vw;
  padding: 1%;
  font-family: "Gelasio", sans-serif;
  text-align: center;
}

.hw2 {
  position: absolute;
  z-index: 10;
  width: 100vw;
  height: 100vh;
  background-color: rgb(128, 128, 128, 0.6);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Gelasio", sans-serif;
  font-weight: 800;
}


.hw2 button {
  width: 50%;
  height: auto;
  margin: 0 auto;
  font-size: 2vw;
  margin-top: 5%;
  margin-bottom: 5%;
  padding-top: 2%;
  padding-bottom: 2%;
  background-color: rgb(255, 255, 255, 0.8);
  border-radius: 10px;
  font-weight: 800;
}

.next {
  background-color: #a00100;
  border: 2px solid black;
  color: white;
  font-family: "Notable", sans-serif;
  text-shadow: 2px 2px black;
  letter-spacing: 10px;
  text-align: center;
  transition: transform 0.2s;
  position: absolute;
  z-index: 10;
  top: 85%;
  left: 75%;
  padding-left: 2%;
  padding-right: 2%;
  padding-top: 1%;
  padding-bottom: 1%;
  width: auto;
  border-radius: 10px;
  font-size: 2.5vw;
}
.next:hover {
  transform: scale(1.1);
}

.next.hide {
  display: none;
}

.show {
  display: none;
}

.transition {
  animation: transition 4s forwards;
}

@keyframes transition {
  0% {
    transform: translateX(0%) rotate(-5deg);
  }
  10% {
    transform: translateX(15%) translateY(5%) rotate(-5deg);
  }

  20% {
    transform: translateX(30%) translateY(15%) rotate(5deg);
  }
  30% {
    transform: translateX(45%) translateY(25%) rotate(-5deg);
  }
  45% {
    transform: translateX(55%) translateY(40%) rotate(5deg);
  }
  60% {
    transform: translateX(75%) translateY(50%) rotate(-5deg);
  }

  75% {
    transform: translateX(95%) translateY(60%) rotate(5deg);
  }

  85% {
    transform: translateX(110%) translateY(70%) rotate(-5deg);
  }

  100% {
    transform: translateX(130%) translateY(90%);
    overflow: hidden;
  }
}
