<body class="grad">

  <button><a href='https://moral-highschool.surge.sh/home'> try again</a></button>

  <header class="head">
    <img src="/assets/banner.png">
    <h1>Class List</h1>
  </header>
  <div class="main">
    <ol class="scores">
      <li *ngFor="let row of leaderBoard">

        Name: {{row.name}} Result: {{row.personality}} popular: {{row.popular}} unpopular: {{row.unpopular}}
        nice: {{row.nice}}
        nerd: {{row.nerd}} bully: {{row.bully}} jock: {{row.jock}}


      </li>
    </ol>

  </div>

</body>