<body class="grad">

  <button><a href='https://moral-highschool.surge.sh/home'> try again</a></button>

  <a href=""></a>
  <header class="head">
    <img src="/assets/banner.png" />
    <h1>Class List</h1>
  </header>
  <div class="main">
    <ol class="scores">
      <li *ngFor="let row of leaderBoard; index as i" (click)="showResults(i)">
        <span><span class="bold">Name:</span> {{ row.name }}</span>
        <span><span class="bold">Result:</span> {{ row.personality }}</span>

        <div class="results" *ngIf="index === i && results">
          <span>Popular: {{ row.popular }} </span>
          <span>Unpopular: {{ row.unpopular }} </span>
          <span>Nice: {{ row.nice }} </span>
          <span> Nerd: {{ row.nerd }} </span>
          <span> Bully: {{ row.bully }} </span>
          <span>Jock: {{ row.jock }} </span>
        </div>
      </li>
    </ol>
  </div>
</body>