.content {
  display: flex;
  justify-content: space-between;
  background-color: #cecece;
  height: 100vh;
}

/* WHOLE LEFT SIDE  */
.left {
  display: flex;
  flex-direction: column;
  width: 50%;
  height: auto;
}

.intro {
  width: auto;
  height: 40%;
  padding: 10px;
  margin: 10px;
}

p {
  margin: 3px;
  font-size: 0.8rem;
  font-family: "Gelasio", sans-serif;
}

.mainCharacter {
  align-items: center;
  width: auto;
  height: auto;
  margin-left: 80px;
}

.characterParts {
  position: absolute;
  top: 50%;
  height: 50%;
  width: 20%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  z-index: 10;
}

/* WHOLE RIGHT SIDE */
.right {
  width: 50%;
  height: auto;
  padding-top: 10px;
  padding-left: 5px;
  padding-right: 5px;
  display: flex;
  flex-direction: column;
}

.allParts {
  display: flex;
  flex-direction: column;
}

.flex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
}

.character {
  margin-right: 10px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 20%;
  height: 45px;
  padding: 2px;
  background-color: rgba(245, 245, 245, 0.5);
  border-radius: 10px;
  border: #a00100 2px solid;
}

h3 {
  margin: 5px;
  font-family: "Notable", sans-serif;
  text-shadow: 2px 2px white;
  font-size: 1rem;
  margin-top: 0px;
}

.buttonRight {
  display: flex;
  align-self: flex-end;
  width: 50%;
}
.next {
  margin: 5px;
  margin-top: 10px;
  padding-top: 5px;
  padding-bottom: 10px;
  margin-right: 20px;
  background-color: #a00100;
  width: 100%;
  border-radius: 10px;
  font-size: 1rem;
  z-index: 10;
  color: white;
  border: 2px solid black;
  border-radius: 10px;
  font-family: "Notable", sans-serif;
  letter-spacing: 10px;
  text-shadow: 2px 2px black;
  text-align: center;
  transition: transform 0.2s;
}

.next:hover {
  transform: scale(1.1);
}

@media (min-width: 680px) {
  .character {
    height: 150px;
  }

  .next {
    font-size: 2rem;
  }

  h3 {
    font-size: 2rem;
  }

  p {
    font-size: 2rem;
    margin: 20px;
    font-family: "Gelasio", sans-serif;
  }

  .characterParts {
    position: absolute;
    top: 40%;
    height: 60%;
    width: 30%;
  }
}
