.content {
  display: flex;
  justify-content: space-between;
  background-color: #cecece;
  height: 100vh;

}


/* WHOLE LEFT SIDE  */
.left {
  display: flex;
  flex-direction: column;
  width: 50%;
  height: auto;
}

.intro {
  width: auto;
  height: 40%;
  padding: 10px;
  margin: 10px;

}

p {
  font-size: .8rem;
  /* margin: 10px; */
  font-family: 'Gelasio', sans-serif;
}

.mainCharacter {
  align-items: center;
  width: 100%;
  height: 100%;
  margin-left: 80px;
}

.characterParts {
  position: absolute;
  top: 50%;
  height: 50%;
  width: 20%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  z-index: 10;
}

/* WHOLE RIGHT SIDE */
.right {
  width: 50%;
  height: auto;
  padding-top: 5%;
  padding-left: 5%;
  padding-right: 5%;
  display: flex;
  flex-direction: column;
}

.allParts {
  display: flex;
  flex-direction: column;
}

.flex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.character {
  margin-right: 10px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 10%;
}

h3 {
  margin: 10px;
  font-family: 'Notable', sans-serif;
  text-shadow: 2px 2px white;
}

.buttonRight {
  display: flex;
  align-self: flex-end;
  width: 50%;

}
.next {
  margin: 5px;
  margin-top: 20px;
  padding-top: 5px;
  padding-bottom: 10px;
  background-color: #A00100;
  width: 100%;
  border-radius: 10px;
  font-size: 1rem;
  z-index: 10;
  color: white;
  border: 2px solid black;
  border-radius: 10px;
  font-family: 'Notable', sans-serif;
  letter-spacing: 10px;
  text-shadow: 2px 2px black;
  text-align: center;
  transition: transform .2s; 


}

.next:hover { 
  transform: scale(1.1); 
}

@media (min-width: 680px) {
  .character {
    height: 90px;
  }

  .next {
    font-size: 2rem;
  }

  h3 {
    font-size: 3rem;

  }

  p {
    font-size: 2rem;
    /* margin: 10px; */
    font-family: 'Gelasio', sans-serif;
  }
}
