.body {
    display: flex;
    flex-direction: row;
}
.char{
    height: 100vh;
    width: 50vw;
    display: flex;
    justify-content: center;
}


img {
    height: 65%;
    margin-top: 20%;
}

.intro {
    height: 100vh;
    width: 50vw;
}
