<div class="body">
  <div class="content">
    <div class="dialogue" [ngClass]="{ one: !showDialogue }">
      <p>Hey, Blake! </p>
    </div>
    <div class="char main">
      <img src="/assets/moralhighmaincharacter.png" />
    </div>

    <div class="dialogue two" [ngClass]="{ two: showDialogue }">
      <p>OMG! {{name}} I NEEEED you in the bathroom with me now! My makeup is a wreak!</p>
    </div>
    <div
      class="char friend"
      [ngClass]="{ animate: doAnimate }"
      *ngIf="doAnimate"
    >
      <img src="/assets/moralhighfriend.png" />
    </div>

    <button type="button" class="next" (click)="nextButton()">Next</button>
  </div>
</div>
