<div class="body">
  <div class="content">
    <div class="dialogue" [ngClass]="{ one: !showDialogue }">
      <p>Friend talking to mGirl</p>
    </div>

    <div class="mainCharacter">
      <div class="characterParts" *ngFor="let part of character; index as i" [style.background-image]="part"></div>
    </div>


    <div class="dialogue two" [ngClass]="{ two: showDialogue }">
      <p>mGirl telling Friend about summer reading</p>
    </div>
    <div class="char friend" [ngClass]="{ animate: doAnimate }" *ngIf="doAnimate">
      <img src="/assets/moralhighfriend.png" />
    </div>

    <button type="button" class="next" (click)="nextButton()">Next</button>
  </div>
</div>