.body {
    width: 100vw;
    height: 100vh;
    margin: 0px;
}


.dialogue.hide{
    display: none
}

.opt3.hide {
    display: none;
}

.dialogue > p {
    background-color: rgb(255, 255, 255, 0.8);
    width: 100px;
    height: auto;
    padding: 20px 10px 20px 10px;
    border-radius: 20%;

}

.gym2 {
    position: absolute;
    z-index: 10;
    width: 100vw;
    height: 100vh;
    background-color: rgb(128, 128, 128, 0.6);
    display: flex;
    flex-direction: column;
    
}


.gym2 > p {
    margin: 0 auto;
    margin-top: 10%;
    font-size: 20px;
    background-color: rgb(255, 255, 255, 0.8);
    border-radius: 20px;
    padding: 50px;
    }
    
    
.gym2 button {
    width: 50%;
    height: 10%;       
    margin: 0 auto;
    margin-top: 5%;
    margin-bottom: 5%;
    background-color: rgb(255, 255, 255, 0.8);
    border-radius: 10px;
    
    }



.char{
    height: 80%;
    /* width: 2%; */
    position: absolute;

}

.main{
    top: 18%;
    left: 30%;
}

.friend{
    top: 15%;
    left: 75%;
}


img {
    height: 100%;
}

.show{

    display:none;
}


.next {
    background-color: white;
    position: absolute;
    top: 80%;
    left: 88%;
    padding: 10px 20px 10px 20px;
    border-radius: 10px;
}


.next.hide {
    display:none;
}

.dialogue.hide.helped{
    display:initial;
}

.opt3.hide.helped{
    display: initial;
}