<div class="body">



    <div class="char main"><img src="/assets/moralhighmaincharacter.png"></div>




    <div class="gym1" [ngClass]="{show: showOpt}">

        <!-- if you saved pGirl in Bathroom -->
        <div class="dialogue" [ngClass]="{hide: hideDialogue, helped: total.popular >= 1}">
            <p>Hey {{name}} the girls and I are ditching Gym to go hang out back with some of the senior guys. Wanna join?</p>
        </div>

        <!-- if you did not tell pGirl about Bathroom -->
        <div class="dialogue" [ngClass]="{hide: hideDialogue, helped:total.popular <1}">
            <p>Hey {{name}}, I know you let me leave the bathroom with that toliet paper. Your not going to get away with it you FREAK.</p>
        </div>
        <button class="next"  (click)="nextButton()">next</button>

        <div class="char meanGirl"><img src="/assets/moralhighmeangirl.png"></div>

    </div>

    <div class="gym2" [ngClass]="{show: !showOpt}">
        <button class="opt1" (click)="opt1id6()">Go to Gym Class</button>
        <button class="opt2" (click)="opt2id6()">Skip gym to Study</button>
        <button class="opt3" (click)="opt3id6()" [ngClass]="{hide: hideDialogue, helped: total.popular >= 1}">Skip
            Gym to Be with
            Heather</button>
    </div>