.body {
  width: 100vw;
  height: 100vh;
}

.dialogue.hide {
  display: none;
}

.opt3.hide {
  display: none;
}

.dialogue.hide.helped {
  display: initial;
}

.dialogue > p {
  font-size: 2vw;
  padding: 1%;
  font-family: "Gelasio", sans-serif;
  position: absolute;
  top: 8%;
  left: 35%;
  width: 15%;
  height: auto;
  padding: 3%;
  text-align: center;
  border-radius: 50%;
  background-color: rgb(255, 255, 255, 0.8);
}

.gym2 {
  position: absolute;
  z-index: 10;
  width: 100vw;
  height: 100vh;
  background-color: rgb(128, 128, 128, 0.6);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.gym2 button {
  width: 50%;
  height: auto;
  margin: 0 auto;
  margin-top: 5%;
  margin-bottom: 5%;
  background-color: rgb(255, 255, 255, 0.8);
  border-radius: 10px;
  font-weight: 800;
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 2vw;
}

.characterParts {
  top: 10%;
  left: 65%;
  position: absolute;
  height: 80%;
  width: 20%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  z-index: 5;
}

.meanGirl {
  top: 15%;
  left: 20%;
  height: 80%;
  position: absolute;
}

img {
  height: 100%;
}

.show {
  display: none;
}

.next {
  background-color: #a00100;
  border: 2px solid black;
  color: white;
  font-family: "Notable", sans-serif;
  text-shadow: 2px 2px black;
  letter-spacing: 10px;
  text-align: center;
  transition: transform 0.2s;
  position: absolute;
  z-index: 10;
  top: 85%;
  left: 75%;
  padding-left: 2%;
  padding-right: 2%;
  padding-top: 1%;
  padding-bottom: 1%;
  width: auto;
  border-radius: 10px;
  font-size: 2.5vw;
}

.next:hover {
  transform: scale(1.1);
}

.next.hide {
  display: none;
}

.opt3.hide.helped {
  display: initial;
}
