body {
    margin: 0;
    overflow: hidden;
    
}

.hallwayBody {
    margin: 0 auto;
    background-image: url("/assets/Hallway.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}





.bathroomBody {
    margin: 0 auto;
    background-image: url("/assets/hsbathroom.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}


.classBody {
    margin: 0 auto;
    background-image: url("/assets/classroom.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}



.gymBody {
    margin: 0 auto;
    background-image: url("/assets/gym.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.scoresBody {
    background-color: white;
    background-image: none;

}



.mainBody{
    background-image: ("/assets/moralhighmaincharacter.png")
}


