<div class="body">

  <div class="mainCharacter">
    <div class="characterParts" [ngClass]="{transition: transition}" *ngFor="let part of character; index as i"
      [style.background-image]="part"></div>
  </div>

  <div class="bathroom1" [ngClass]="{ show: !showOpt }">
    <div class="dialogue" [ngClass]="{ hide: hideDialogue }">
      <p>
        I cant believe they let losers like you into Moral High, you better stay
        out of my way
      </p>
    </div>
    <button class="next" *ngIf="buttonHide" (click)="nextButton()">Next</button>

    <div class="char meanGirl" *ngIf="!transition">
      <img [ngClass]="{ flip: !flip }" src="/assets/moralhighmeangirl.png" />
      <img [ngClass]="{ animate: doAnimate }" *ngIf="doAnimate" [ngClass]="{ flip: flip }"
        src="/assets/moralhighmeangirlTP.png" />
    </div>
  </div>

  <div class="bathroom2" [ngClass]="{ show: showOpt }">
    <p class="dialogue2">
      OMG! Should I tell Heather about the toilet paper?!
      <br>What will you do?
    </p>
    <div class="timer">
      <p>
        {{ seconds }}
      </p>
    </div>
    <button class="opt1" (click)="opt1id4()">
      Tell Heather before she leaves the Bathroom
    </button>
    <button class="opt2" (click)="opt2id4()">No way! She is so mean!</button>
  </div>
</div>